{% load socialaccount %}
{% providers_media_js %}

{% if user.is_authenticated %}

<!DOCTYPE html>
<html>
<body>

<h1>Add new blog here</h1>

<form action='postsubmit' method='get'>
    <select name='categ'>
        {% for i in cat  %}
            <option value={{i.name}}> {{i.name}} </option>
        {% endfor %}
    </select>
    <textarea name='title'></textarea>
    <br>
 
    <textarea name='content'></textarea>
    <br>

    <button type='submit'> Submit </button>
    <input type="hidden" name="author" value="{{ user.socialaccount_set.all.0.extra_data.name }}" />



</form>

</body>
</html>

{% else %}

<a href="{% provider_login_url "google" %}"> Login </a>

{% endif %}