{% extends "layout.html" %}
{% load socialaccount %}
{% providers_media_js %}


{% block body %}
{% load crispy_forms_tags %}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h3>Create Article</h3>
        <hr>

        <form action='postsubmit/' method='post' enctype="multipart/form-data">
            {% csrf_token %}
            Select Category : 

            {% for i in cat %}
            {% if  i.name in ucat %}
            <input  type="checkbox" name="{{ i.name }}" value="{{ i.name }}"> {{ i.name }}
            {% endif %}
            {% endfor %}
            <br>
            <br> 
            <button id="addimageid1" type="button"  onclick="func(1)">Add Image</button>
            <input id="imgfileid1" type="file" name='image' style="display: none;" >
            <button id="addimageid2" type="button" onclick="func(2)">Add Video</button>
            <input id="vidfileid2" type="file" name='video' style="display: none;">

            <br>
            <br>
            <textarea rows="1" cols="50" name='title' placeholder="Title"></textarea>
            <br>

            <textarea rows="50" cols="50" name='content' placeholder="Content"></textarea>
            <br>

            <input type="hidden" name="author" value="{{ user.socialaccount_set.all.0.extra_data.name }}" />
            <button type="submit" class="btn btn-danger">Add Article</button>
        
        </form>

    </div>
</div>
<script>
function func(a)
{
    if(a==1)
    {
        x=addimageid1;
        y=imgfileid1;
    }
    else
    {
        x=addimageid2;
        y=vidfileid2;
    }

    y.style.display="inline";
    x.style.display="none";
    
}

</script>

{% endblock body %}