{% extends "layout.html" %}
{% load socialaccount %}
{% providers_media_js %}


{% block body %}
{% load crispy_forms_tags %}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h3>Create Article</h3>
        <hr>

        <form action='postsubmit' method='get'>
        
        Select Category : 
        {% comment %} <select name='categ'>
            {% for i in cat  %}
                <option value={{i.name}}> {{i.name}} </option>
            {% endfor %}
        </select> {% endcomment %}

        {% for i in cat %}
        {% if  i.name in ucat %}
        <input  type="checkbox" name="{{ i.name }}" value="{{ i.name }}"> {{ i.name }}
        {% endif %}
        {% endfor %}
        <br>
        <br>
        <br>
        <textarea rows="1" cols="50" name='title' placeholder="Title"></textarea>
        <br>

        <textarea rows="50" cols="50" name='content' placeholder="Content"></textarea>
        <br>

        <input type="hidden" name="author" value="{{ user.socialaccount_set.all.0.extra_data.name }}" />
        <button type="submit" class="btn btn-danger">Add Article</button>
        
        </form>

    </div>
</div>


{% endblock body %}