{% load socialaccount %}
{% providers_media_js %}

<!DOCTYPE html>
<html>
<body>


<h1>Home page</h1>


{% if user.is_authenticated %}
<<a href="http://127.0.0.1:8000/accounts/logout/">Log out</a>
<p>You're logged in as {{ user.socialaccount_set.all.0.extra_data.name }}.</p>
<img height="30" width="30" src="{{ user.socialaccount_set.all.0.get_avatar_url}}" />
<br>
{% else %}

<a href="{% provider_login_url "google" %}"> Login </a>
{% endif %}

<br>
{% for i in cat %}
    {{i.name}}
{% endfor %}


{% for i in blog %}
    <br> {{i.title}} {{i.category}} {{i.content}} <br>
{% endfor %}

</body>
</html>