
{% extends "layout.html" %}
{% load socialaccount %}
{% providers_media_js %}

{% block body %}

<div class="row">

  <div class="col-md-10 offset-md-3">
    <div class="col-lg-8">
      <h3>Articles</h3>
      <hr>
    </div>
  </div>
</div>

{% if blog %}
{% for article in blog %}
  {% if article.title in blog2 %}
    <div class="row">
      <div class="col-md-10 offset-md-3">

        <!-- Post Content Column -->
        <div class="col-lg-8">
            <h2 class="mt-4">{{article.title}}</h2>
          <!-- Author -->
          <p class="lead">
            Published By {{article.author}}
            on {{article.creation_date}}
          </p>
          <hr>
          <hr>
          <!-- Post Content -->
          <p class="lead">
          <div id="{{article.bid}}"> 
            {{article.content|safe|truncatewords:50}}
          </div>
          <div id="{{article.bid|add:'large'}}" style="display: none;"> 
            {% if article.fileflag %}
            <img src="media/{{article.img}} " alt="image error" width=100% heigth=auto >
            <br>
            <br>
            {% endif %}
            {{article.content}}
          </div>
          </p>
          <button id="{{article.bid|add:'button'}}" style="float : right;" onclick="func('{{article.bid}}')" class="btn btn-danger">Read More</button>
          <hr>

        </div>
      </div>
    </div>
  {% endif %}
{% endfor %}

<script>

function func(a) {
   var x = document.getElementById(a);
   var y = document.getElementById(a+'large');
   var z = document.getElementById(a+'button');
   if(x.style.display=="none")
   {
      x.style.display="inline";
      y.style.display="none";
      z.innerHTML="Read More";
   }
   else
   {
      x.style.display="none";
      y.style.display="inline";
      z.innerHTML="Read Less";
   }
}

</script>

{% else %}
<div class="row">

  <div class="col-md-10 offset-md-3">
    <div class="col-lg-8">
      <div class="alert alert-danger">
        No Articles Found
      </div>
    </div>
  </div>
</div>
{% endif %}



{% endblock body %}

