{% extends "layout.html" %}
{% block body %}
{% load crispy_forms_tags %}{% load socialaccount %}
{% providers_media_js %}

{% if user.is_authenticated %}

<h1>Select your area of Interests </h1>


<form action="http://127.0.0.1:8000/submitcategory/done" method='get'>
<br>
    {% for i in cat %}
     <h4>    <input  type="checkbox" name="{{ i.name }}" value="{{ i.name }}"> {{ i.name }}<br>  </h4>
    {% endfor %}
    <br>
  
    <button type='submit'> Submit </button>
</form>


{% endif %}
{% endblock body %}